* {
    background-color: bisque;
    text-align: center;
    font-family: monospace;
}

h2, h3 {
    margin: 30px auto 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    text-align: center;
}

li {
    padding: auto;
    margin: 5px auto;
}

img {
    border: 0.2rem;
    border-color: black;
    border-style: outset;
}

a{
    text-decoration: none;
    color: black;
}

.nav-back {
    width: 150px;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: 20px auto;
    padding: auto;
    align-self: center;
}

.steps li{
    max-width: 500px;
    text-align: left;
}
